@{
    ViewData["Title"] = "Home Page";
}
@if(SignInManager.IsSignedIn(User))
{ 
    <div class="container">
        <div class="col-xs-2"><a asp-action="Index" asp-controller="Todoes" class="btn btn-block btn-primary">Todo</a></div>
        <div class="col-xs-2"><a asp-action="UserIndex" asp-controller="Manage" class="btn btn-block btn-success">Manage User</a></div>
    </div>
}